@import "tailwindcss";

:root {
  --background:   #FBEEDA;
  --foreground: #FBEEDA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FBEEDA;
    --foreground: #FBEEDA;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

